 @font-face{
  font-family: Adelle;
  src: url(/assets/Adelle-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AdelleBold;
  src: url(/assets/Adelle-Bold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
} /*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
.animate {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: all ease-out 0.5s;
  transition-property: opacity, transform;
}
.animate-show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
hr {
  height: 0;
  color: inherit;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type="button"],
button {
  -webkit-appearance: button;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
summary {
  display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
button {
  background-color: transparent;
  background-image: none;
}
fieldset {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
}
body {
  font-family: inherit;
  line-height: inherit;
}
*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
hr {
  border-top-width: 1px;
}
img {
  border-style: solid;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #a1a1aa;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #a1a1aa;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #a1a1aa;
}
button {
  cursor: pointer;
}
table {
  border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .minisandbox{
    max-width: 66%;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.rounded {
  border-radius: 0.25rem;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.table-row {
  display: table-row;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-1 {
  flex: 1 1 0%;
}
.font-bold {
  font-family: AdelleBold, Verdana;
}
.font-bold {
  font-weight: 700;
}
.h-32 {
  height: 8rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.leading-8 {
  line-height: 2rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ml-0 {
  margin-left: 0;
}
.mr-4 {
  margin-right: 1rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-24 {
  margin-bottom: 6rem;
}
.max-w-sm {
  max-width: 24rem;
}
.min-h-screen {
  min-height: 100vh;
}
.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
}
.p-2 {
  padding: 0.5rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-10 {
  padding: 2.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.pt-0 {
  padding-top: 0;
}
.pt-12 {
  padding-top: 3rem;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
:root {
  --tw-shadow: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.w-full {
  width: 100%;
}
.gap-8 {
  gap: 2rem;
}
.gap-10 {
  gap: 2.5rem;
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-90 {
  --tw-scale-x: 0.9;
  --tw-scale-y: 0.9;
}
.scale-100 {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}
.transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ping {
  100%,
  75% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes ping {
  100%,
  75% {
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
#preamble > .sectionbody > .paragraph > p {
  padding: 1rem 0;
}
.listingblock {
  margin: 1rem 0;
  border-radius: 0.75rem;
  overflow-x: auto;
}
.listingblock > .content > .highlight > code {
  padding: 1rem 1.5rem;
}
p code, table code{
  background: #ede17187;
  border-radius: 4px;
  padding: 5px 3px;
  margin: 0 2px;
}
p a{
  color: #0d6661;
  text-decoration: underline;
}
p a:hover{
  color: #178781;
}
.conum[data-value]+b{
  display: none;
}
.conum[data-value]{
  border-radius: 100%;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.conum[data-value="1"]{
  background: url(/assets/1.svg);
}
.conum[data-value="2"]{
  background: url(/assets/2.svg);
}
.conum[data-value="3"]{
  background: url(/assets/3.svg);
}
.conum[data-value="4"]{
  background: url(/assets/4.svg);
}
.conum[data-value="5"]{
  background: url(/assets/5.svg);
}
.conum[data-value="6"]{
  background: url(/assets/6.svg);
}
.conum[data-value="7"]{
  background: url(/assets/7.svg);
}
.conum[data-value="8"]{
  background: url(/assets/8.svg);
}
.conum[data-value="9"]{
  background: url(/assets/8.svg);
}
.colist{
  margin: 2rem 0;
}
.colist td{
  vertical-align: top;
  padding-bottom: 1rem;
  line-height: 1.5rem;
}
.colist .conum{
  margin-top: 3px;
}
.colist td:first-child{
  padding: 0 1rem;
}
code .conum[data-value]{
  transform: translateY(3px)
}
.hljs-comment {
  display: none;
}
.conum .hljs-comment {
  display: inline;
}
div.admonitionblock {
  position: relative;
  margin: 3rem 0;
  border-radius: 0.75rem;
}
div.admonitionblock > table {
  table-layout: fixed;
  width: 100%;
}
div.admonitionblock > table > tr > td:nth-child(2) {
  width: 100%;
}
div.admonitionblock td.icon {
  border-radius: 18px;
  color: #fff;
  display: flex;
  height: 30px;
  justify-content: flex-start;
  left: 5px;
  position: absolute;
  top: -15px;
  width: 125px;
}
div.admonitionblock td.icon .fa::after{
  content: attr(title);
  width: 100px;
  margin-left: 26px;
  display: block;
  transform: translateY(4px);
  text-transform: uppercase;
  font-family: sans-serif;
}
div.admonitionblock td.icon .fa{
  background-position: center;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  margin-top: 2px;
  margin-left: 7px;
}
.icon-caution{
  background: url(/assets/caution_icon.svg);
}
.icon-note{
  background: url(/assets/info_icon.svg);
}
.icon-warning{
  background: url(/assets/caution_icon.svg);
}
.icon-tip{
  background: url(/assets/tip_icon.svg);
}
div.admonitionblock .title{
  margin-bottom: 1rem;
  font-style: italic;
}
div.admonitionblock td.content {
  padding: 2rem 1.5rem;
  line-height: 2rem;
}
div.admonitionblock.caution {
  border: 2px dashed #ac2a34;
}
div.admonitionblock.caution td.icon {
  background: #ac2a34;
}
div.admonitionblock.note {
  border: 2px dashed #0f406b;
}
div.admonitionblock.note td.icon {
  background: #0f406b;
}
div.admonitionblock.tip {
  border: 2px dashed #41af46;
}
div.admonitionblock.tip td.icon {
  background: #41af46;
}
div.admonitionblock.warning {
  border: 2px dashed #e37743;
}
div.admonitionblock.warning td.icon {
  background: #e37743;
}
.paragraph{
  margin-bottom: 2rem;
}
.paragraph:last-child{
  margin-bottom: 0;
}
table.tableblock{
  margin-bottom: 2rem;
}
.tableblock.stretch{
  width: 100%;
}
.ulist ul{
  list-style: square;
  padding-left: 2rem;
  margin-bottom: 2rem;
}
td.tableblock, th.tableblock {
    word-break: break-word
}
td.tableblock {
    border-collapse: collapse;
    font-size: .83333rem;
    margin: 2rem 0
}
table.tableblock thead th {
    border-bottom: 2.5px solid #e1e1e1;
    padding: .5rem
}
table.tableblock>:not(thead) th, table.tableblock td {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: .5rem
}

td.tableblock>.content>:first-child {
    margin-top: 0
}

.halign-left {
    text-align: left
}

.halign-right {
    text-align: right
}

.halign-center {
    text-align: center
}

.valign-top {
    vertical-align: top
}

.valign-bottom {
    vertical-align: bottom
}

.valign-middle {
    vertical-align: middle
}
h1,
h2,
h3,
h4,
h5 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.875rem;
}
h2 {
  font-size: 1.375rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
  }
  h2 {
    font-size: 2.625rem;
  }
  h3 {
    font-size: 1.65rem;
  }
}
.split-button:active {
  transform: translate(2px, 2px);
}
.started-header {
  background-image: url(/assets/get_started_header_bg.svg);
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  position: relative;
  z-index: 50;
}
@media (min-width: 768px) {
  .started-header {
    margin-bottom: -3.5rem;
  }
}
@media (min-width: 768px) {
  .started-header {
    background-image: url(/assets/get_started_header_bg.svg);
    height: 156px;
  }
}
@media (min-width: 1440px) {
  .started-header {
    background-image: url(/assets/get_started_header_bg.svg);
    height: 200px;
  }
}
body {
  --tw-bg-opacity: 1;
  background-color: rgba(237, 225, 113, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(217, 206, 95, var(--tw-border-opacity));
  border-style: solid;
  font-family: Adelle, ui-serif;
}
.nav {
  width: 100%;
}
@media (min-width: 640px) {
  .nav {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .nav {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .nav {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .nav {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .nav {
    max-width: 1536px;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  position: relative;
  width: 100%;
}
.nav__logo {
  width: 75%;
}
@media (min-width: 768px) {
  .nav__logo {
    width: 70%;
  }
}
.nav__menu-icon {
  display: block;
  padding-right: 0.75rem;
  width: 2.5rem;
}
@media (min-width: 768px) {
  .nav__menu-icon {
    display: none;
  }
}
.nav__links {
  display: none;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  gap: 1.25rem;
}
@media (min-width: 768px) {
  .nav__links {
    display: flex;
  }
}
.nav__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  width: 7rem;
}
.nav__link:hover {
  color: #4c4c4c;
  cursor: pointer;
}
.nav__link-underline {
  position: absolute;
  top: 1.25rem;
}
.nav__link__underline-docs {
  padding-top: 0.5rem;
  position: absolute;
  top: 1.25rem;
}
.nav-mobile {
  padding-top: 3rem;
}
@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
}
.nav-mobile__wrapper > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.nav-mobile__wrapper {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.nav-mobile__link {
  border-color: transparent;
  display: block;
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  --tw-text-opacity: 1;
  color: rgba(18, 18, 18, var(--tw-text-opacity));
}
.nav-mobile__links > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.nav-mobile__links {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.nav-mobile__heading {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  width: 100%;
}
.nav-mobile__heading__title {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}
.nav-mobile__heading__close {
  display: block;
  padding-right: 0.75rem;
}
@media (min-width: 768px) {
  .nav-mobile__heading__close {
    display: none;
  }
}
.nav-mobile__links__level1 {
  padding-left: 3rem;
}
.nav-mobile__links__level2 {
  padding-left: 1rem;
}
.hero-bg {
  display: none;
  margin-top: -28rem;
  width: 100%;
  z-index: 50;
  position: relative;
}
@media (min-width: 768px) {
  .hero-bg {
    display: block;
  }
}
.hero-bg-mobile {
  display: block;
  margin-top: -16rem;
  width: 100%;
}
@media (min-width: 768px) {
  .hero-bg-mobile {
    display: none;
  }
}
.hero {
  width: 100%;
}
@media (min-width: 640px) {
  .hero {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .hero {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .hero {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .hero {
    max-width: 1536px;
  }
}
.hero {
  position: relative;
  z-index: 60;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 6rem;
}
@media (min-width: 768px) {
  .hero {
    margin-top: 6rem;
  }
}
.hero-title-wrapper {
  justify-content: space-between;
  position: relative;
}
.hero-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
@media (min-width: 768px) {
  .hero-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    line-height: 1.625;
  }
}
@media (min-width: 1024px) {
  .hero-title {
    font-size: 3rem;
    line-height: 1;
  }
}
@media (min-width: 1440px) {
  .hero-title {
    font-size: 5rem;
  }
}
@media (min-width: 1800px) {
  .hero-title {
    font-size: 6rem;
  }
}
.hero-button {
  display: flex;
  margin-bottom: 3rem;
  padding-top: 1.25rem;
}
@media (min-width: 768px) {
  .hero-button {
    padding-top: 2.5rem;
  }
}
.hero-button__content {
  --tw-border-opacity: 1;
  border-color: rgba(210, 199, 91, var(--tw-border-opacity));
  width: 13rem;
}
.hero-button__split {
  --tw-bg-opacity: 1;
  background-color: rgba(18, 18, 18, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.feature-button {
  display: none;
  justify-content: center;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .feature-button {
    display: flex;
  }
}
.feature-button__content {
  --tw-border-opacity: 1;
  border-color: rgba(196, 91, 40, var(--tw-border-opacity));
  width: 24rem;
}
.feature-button__split {
  --tw-bg-opacity: 1;
  background-color: rgba(241, 226, 85, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
.split-button {
  background-color: transparent;
  border-radius: 0.75rem;
  border-style: solid;
  border-width: 2px;
  display: flex;
  height: 3rem;
  position: relative;
}
.split-button__button {
  display: flex;
  position: absolute;
  left: -0.5rem;
  top: -0.75rem;
}
.split-button__split1 {
  border-radius: 0.75rem;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  height: 3rem;
  margin-right: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.split-button__split2 {
  border-radius: 0.75rem;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  height: 3rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
.transition {
  width: 100%;
}
.feature__section {
  width: full;
  margin-top: -0.5rem;
  background-color: #e37743;
}
.feature__wrapper {
  width: 100%;
}
@media (min-width: 640px) {
  .feature__wrapper {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .feature__wrapper {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .feature__wrapper {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .feature__wrapper {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .feature__wrapper {
    max-width: 1536px;
  }
}
.feature__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 3rem;
}
@media (min-width: 768px) {
  .feature__wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.feature__title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .feature__title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 60%;
  }
}
.feature__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3.5rem;
}
.feature__card {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3.5rem;
}
@media (min-width: 768px) {
  .feature__card {
    margin-bottom: 3.5rem;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .feature__card {
    width: 33.333333%;
  }
}
.feature__card__content {
  --tw-bg-opacity: 1;
  background-color: rgba(208, 79, 34, var(--tw-bg-opacity));
  border-radius: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}
@media (min-width: 768px) {
  .feature__card__content {
    border-radius: 1.5rem;
    height: 20rem;
    width: 20rem;
  }
}
.feature__card__heading {
  display: inline-flex;
  align-items: center;
  padding-bottom: 1.25rem;
}
.feature__card__title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-left: 1rem;
  margin-bottom: -0.5rem;
}
.feature__card__description {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.components__section {
  --tw-bg-opacity: 1;
  background-color: rgba(58, 52, 83, var(--tw-bg-opacity));
  flex-direction: column;
  align-items: center;
  margin-top: -0.5rem;
  padding-top: 3rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  width: 100%;
}
.component {
  width: 100%;
}
@media (min-width: 640px) {
  .component {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .component {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .component {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .component {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .component {
    max-width: 1536px;
  }
}
.component {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.component__info {
  padding-right: 0;
  padding-bottom: 1rem;
  width: 100%;
}
@media (min-width: 1024px) {
  .component__info {
    padding-bottom: 0;
    padding-right: 2rem;
    width: 33.333333%;
  }
}
.component__info__title {
  padding-bottom: 0.75rem;
}
.component__example {
  width: 100%;
}
@media (min-width: 1024px) {
  .component__example {
    width: 66.666667%;
  }
}
.component__example__code {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.75rem;
  height: 12rem;
}
footer {
  position: relative;
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  margin-top: -0.5rem;
}
.footer__wrapper {
  padding-top: 80px;
  width: 100%;
}
@media (min-width: 640px) {
  .footer__wrapper {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .footer__wrapper {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .footer__wrapper {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .footer__wrapper {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .footer__wrapper {
    max-width: 1536px;
  }
}
.footer__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 2rem;
  padding-top: 3rem;
  width: 100%;
  gap: 2rem;
}
@media (min-width: 768px) {
  .footer__nav {
    flex-direction: row;
    width: 40%;
    gap: 0;
  }
}
nav ul li:hover {
  cursor: pointer;
}
.footer__nav__category {
  --tw-text-opacity: 1;
  color: rgba(91, 56, 233, var(--tw-text-opacity));
}
.footer__nav__links {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  text-transform: uppercase;
}
.footer_copyright {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  --tw-text-opacity: 1;
  color: rgba(76, 76, 76, var(--tw-text-opacity));
}
.documentation {
  --tw-bg-opacity: 1;
  background-color: rgba(250, 247, 230, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(217, 206, 95, var(--tw-border-opacity));
  border-style: solid;
  line-height: 2.25rem;
}
.mobile-mode {
  background-color: #ede171 !important;
}
.top-border {
  border-top-width: 4px;
}
.sidebar {
  display: flex;
}
.side-nav > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.side-nav {
  --tw-bg-opacity: 1;
  background-color: rgba(242, 239, 217, var(--tw-bg-opacity));
  display: none;
  flex-direction: column;
  padding-left: 1.75rem;
  padding-top: 6rem;
  position: relative;
  width: 21rem;
  z-index: 0;
}
.side-nav__bold {
  font-weight: bold;
}
@media (min-width: 768px) {
  .side-nav {
    display: flex;
  }
}
.side-nav__expand > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.side-nav__expand__button {
  border-radius: 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 3.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.side-nav__expand__button:hover {
  --tw-text-opacity: 1;
  color: rgba(76, 76, 76, var(--tw-text-opacity));
}
.side-nav__expand__button {
  width: 100%;
}
.side-nav__link:hover {
  --tw-text-opacity: 1;
  color: rgba(76, 76, 76, var(--tw-text-opacity));
}
.side-nav__expand__icon {
  margin-left: auto;
  transform: rotate(90deg);
  transition: all ease-in-out 0.2s;
  transition-property: color, transform;
}
.expanded {
  transform: rotate(0) !important;
}
.side-nav__expand__list {
  padding-left: 2rem;
}
.side-nav__expand__list2 {
  padding-left: 1.5rem;
}
.docs {
  width: 100%;
  min-width: 10px;
}
@media (min-width: 640px) {
  .docs {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .docs {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .docs {
    max-width: 1024px;
  }
}
.docs {
  margin-left: auto;
  margin-right: auto;
  margin-left: 0;
  margin-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
}
@media (min-width: 768px) {
  .docs {
    margin-left: 2rem;
    padding-top: 5rem;
  }
}
.docs h1{
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.docs h2, .docs h3{
  margin: 2rem 0 0.5rem 0;
}
.docs h3, .docs h4{
  font-weight: bold;
}
.documentation h2 a, .documentation h3 a:hover, .documentation h4 a:hover {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.documentation h2 a:hover, .documentation h3 a:hover, .documentation h4 a:hover {
    color: #D9CE5F;
}
.separator {
  --tw-border-opacity: 1;
  border-color: rgba(226, 224, 213, var(--tw-border-opacity));
  border-style: solid;
  border-top-width: 2px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.hljs{
  background: none !important;
}
.highlight{
  border-radius: 0.75rem;
  --tw-border-opacity: 1;
  border-color: rgba(226, 224, 213, var(--tw-border-opacity));
  border-style: solid;
  border-width: 2px;
  width: 100%;
}
.code-block__content {
  margin: 1.5rem;
}
.bullet-list {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.bullet-list__callout > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.bullet-list__callout {
  display: flex;
}
code.doc {
  overflow-x: auto;
  background-color: transparent;
  --tw-border-opacity: 1;
  border-color: rgba(226, 224, 213, var(--tw-border-opacity));
  border-width: 2px;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.admon {
  border-style: dashed;
  border-width: 2px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 100%;
}
.admon-warning {
  --tw-border-opacity: 1;
  border-color: rgba(220, 38, 38, var(--tw-border-opacity));
}
.admon__button {
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  margin-left: 1rem;
  margin-top: -1rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  width: 8rem;
  gap: 0.5rem;
}
.admon__button-warning {
  --tw-bg-opacity: 1;
  background-color: rgba(220, 38, 38, var(--tw-bg-opacity));
}
.admon__button-note {
  --tw-bg-opacity: 1;
  background-color: rgba(30, 58, 138, var(--tw-bg-opacity));
}
.admon-note {
  --tw-border-opacity: 1;
  border-color: rgba(30, 58, 138, var(--tw-border-opacity));
}
.secondary-nav {
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .secondary-nav {
    display: none;
  }
}
.secondary-nav__content {
  --tw-border-opacity: 1;
  border-color: rgba(210, 199, 91, var(--tw-border-opacity));
  width: 10rem;
}
.secondary-nav__split {
  --tw-bg-opacity: 1;
  background-color: rgba(18, 18, 18, var(--tw-bg-opacity));
  border-radius: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  height: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  width: 9rem;
}
.secondary-nav__split > p {
  margin-right: 6px;
}
@media (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:ml-8 {
    margin-left: 2rem;
  }
  .md\:pt-32 {
    padding-top: 8rem;
  }
  .md\:w-2\/5 {
    width: 40%;
  }
  .md\:gap-0 {
    gap: 0;
  }
}
.nav-mobile {
  display: block !important;
}
.CodeMirror {
  height: auto;
  font-size: 14px;
}
.component__example__code {
  overflow: hidden;
}
.language-bash{
  cursor: copy;
}
#game{
  height: 200px;
  width: 48px;
  margin: 0 auto;
  position: relative;
  background: darkred;
  transform: translate3d(0,-8px,0);
}
.minisandbox {
  margin-top: 52px;
  border-radius: 31.5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 426px;
  background-color: #2b2932;
}

.minisandbox__header {
  font-size: 17px;
  height: 48px;
  padding-top: 15px;
  padding-left: 14px;
}

.minisandbox__code {
  background-color: #2b2932;
}

.minisandbox__code__header {
  color: #f58065;
  background-color: #161320;
}

.minisandbox__code__content {
  height: 238px;
  overflow: hidden;
}

.minisandbox__output {
  background-color: #faf8ec;
  position: relative;
}

.minisandbox__output__header {
  color: #21232a;
  background-color: #e9e5d3;
  width: 100%;
}

.minisandbox__output__content {
  color: #21232a;
  height: 91px;
  overflow: auto;
}

@media screen and (min-width: 640px) {
  .minisandbox {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    width: 778px;
    height: 379px;
    background-color: #2b2932;
  }

  .minisandbox__header {
    padding-left: 31px;
  }

  .minisandbox__code {
    background-color: #2b2932;
    width: 524px;
  }

  .minisandbox__code__content {
    height: calc(100% - 48px);
  }

  .minisandbox__output__content {
    height: calc(100% - 48px);
  }

  .minisandbox__output {
    width: 255px;
    background-color: #faf8ec;
  }

  .minisandbox__code__header {
    color: #f58065;
    background-color: #161320;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner{
  background: #161320;
}

::-webkit-scrollbar-thumb{
  background: #f58065;
  border-radius: 1000px;
}

::-webkit-scrollbar-thumb:hover{
  background: #ffb5a4;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #f58065;
  border-color: transparent #f58065 transparent #f58065;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
iframe, .errors{
  padding: 1rem;
  max-width: 100%;
  height: 100%;
}
iframe input {
  max-width: 50px;
}
.error {
  padding: 1rem;
  font-size: 14px;
  border: 1px dotted red;
  white-space: pre;
  font-family: monospace;
  overflow: auto;
}
